@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}


.webgl {
  height: 30rem ;
  width: 100% ;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.center-block {
  /* display: block; */
  margin-right: auto;
  margin-left: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  width: 10em ;
  height: 10em ;
}

</style>

<style>
  /* .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

    border: 1px solid #ccc;
  } */

  .flip-container:hover .flipper,
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .flip-container,
  .front,
  .back {
    width: 320px;
    height: 427px;
  }

  .flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  .front,
  .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    /* background-color: grey ; */
    z-index: 2;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
  }


  .back-title {
    font-weight: bold;
    color: #00304a;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #acd7e5;
    font-family: Courier;
    font-size: 2em;
  }

  .back p {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
  }

  .things_we_do {
    /* width: 33.33%; */
    float: left;
    text-align: center;
    font-size: 16px;
    min-height: 300px;
    vertical-align: middle;
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    z-index: 7;
    /* flex-grow: 1; */
    background-size: cover;
    position: relative;
    backgroun-repeat: no-repeat;
  }
  @media only screen and (min-width: 1000px) {
    .things_we_do {
      width: 33.33%;
    }
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.front img{
  width: 320px;
  height: 427px;
  -webkit-filter: blur(2px);
    filter: blur(2px);
}



.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
    font-style: bold;
}

.icon-bar a:hover {
    background-color: #000;
}
.active {
    background-color: #4CAF50 !important;
}
